[submodule "external/unitree_sdk2_python"]
	path = external/unitree_sdk2_python
	url = git@github.com:unitreerobotics/unitree_sdk2_python.git
[submodule "external/unitree_mujoco"]
	path = external/unitree_mujoco
	url = git@github.com:illusoryTwin/unitree_mujoco.git
[submodule "go2_ros2_control"]
    path = go2_ros2_control
    url = git@github.com:illusoryTwin/go2_ros2_control.git

